* {
    box-sizing: border-box;
  }

  /* padding이 기본적으로 아래쪽에 4픽셀 씩 남아있는 문제가 있음, 해결 방법 불명 */

  .floatingComponent {
    position: absolute;
  }

  .missionComponent {
    left: 10px;
    top: 10px;
    width: 300px;
  }

  .imgBtn {
    background-color: silver;
    right: 10px;
    padding: 4px 0px 0px;
    opacity: 0.3;
  }

  .imgBtn:active {
    background-color: red;
  }

  /* 나중에 회의 요청 버튼 근처에 다가가면 투명도 1이 되도록 수정해야 함. */
  .imgBtn:hover {
    opacity: 1;
  }

  #settingBtn {
    top: 10px;
  }

  /* #missionBtn {
    top: 130px;
  } */

  #actBtn {
    top: 250px;
  }

  #killBtn {
    top: 370px;
  }

  .imgBtnIcon {
    width: 160px;
    height: 100px;
  }

  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  