* {
  box-sizing: border-box;
}

/* padding이 기본적으로 아래쪽에 4픽셀 씩 남아있는 문제가 있음, 해결 방법 불명 */

.floatingComponent {
  position: absolute;
}

.missionComponent {
  left: 10px;
  top: 210px;
  width: 300px;
  opacity: 0.7;
}

.imgBtn, .imgBtnNoHover {
  background-color: silver;
  padding: 4px 0px;
  opacity: 0.3;
  font-size: 0;
  line-height: 0;
}

.imgBtn:active, .imgBtnReady:active{
  background-color: red;
}

.imgBtn:hover, .imgBtnReady{
  opacity: 1;
}

#chatBtn {
  right: 10px;
  top: 210px;
}

#mapBtn {
  right: 10px;
  top: 330px;
}

#reportBtn {
  right: 10px;
  bottom: 130px;
}

#actBtn {
  right: 10px;
  bottom: 10px;
}

#sabotageBtn {
  left: 10px;
  bottom: 130px;
}

#killBtn {
  left: 10px;
  bottom: 10px;
  padding: 0px;
}

.imgBtnIcon {
  width: 160px;
  height: 100px;
}

.minimap {
  width: 70vh;
  height: 70vh;
}

.z-index2000{

  z-index: 2000;
 
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}